@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import './mobile.css';

html,
body {
    background-color: var(--background, #f8fafc);
    transition: background-color 0.5s ease;
    overscroll-behavior: none;
}